
.section-title {
    font-weight: bold;
    background-color: rgb(217, 161, 101);
    color: white;
    margin: 0px;
}

.section {
    border: 1px solid rgb(217, 161, 101);
    margin: 5px;
}

.yam-button {
    display: inline-flex;
    text-align: center;
    border: 2px solid black;
    padding: 5px 15px;
    cursor: pointer;
    max-width: 250px;
    height: 54px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 5px;
}

.disabled {
    pointer-events: none;
    border: 2px solid darkgray;
    color: #ccc;
}

img.yam-button {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: auto;
}

.yam-text {
    pointer-events: auto;
    align-self: center;
    font-size: 12px;
    width: 200px;
}

